venv/
*.log
node_modules/
.env
*.bak
watcharr_export.json
dbfilms.db
data/
data/img/
data/img/backdrops/
*.sqlite
*.sqlite3
*.csv
import_debug.log
transform.py
update_json.py
validate_json.py
vendor/
logs/
debug_summary.txt
vendor/composer/*
